@model Home_Service.ViewModel.CustomerViewModel
@{
    Layout = User.IsInRole("Customer") ? "_CustomerLayout" : "_Layout";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Submit Rating and Review</h2>

            <form method="post" asp-action="SubmitRatingAndReviews">
                <input type="hidden" asp-for="BookingId" value="@Model.BookingId" />

                <div class="form-group">
                    <label for="rate">Rating:</label>
                    <input type="number" name="rate" class="form-control"  min="0" max="5" />
                    <small class="text-muted">Please enter a rating between 0 and 5.</small>
                </div>

                <div class="form-group">
                    <label for="comment">Review:</label>
                    <textarea name="comment" class="form-control" ></textarea>
                </div>
                <br />
                <div class="form-group">
                    you can rate or review it you choice.
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
