@model Home_Service.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home_Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Home_Service.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="col-md-4">
            <div class="text-center mb-4">
                <img src="~/lib/Images/logo.jpg" alt="logo" width="300px" class="mb-4" />
            </div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>

            <br />

            <div>
                Don't have an account? Go Sign up
                <a asp-action="Register" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
